# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*
terraform.tfvars

# Ignore Terraform lock file (optional, include if you want reproducible builds)
.terraform.lock.hcl

# Ignore .terraform working directory
.terraform/